
export MACHINE_STORAGE_PATH='D:\virtual-box-vms'

export VBOX_HOST_FOLDER='C:\workspace'
export VBOX_GUEST_FOLDER='/home/docker/workspace'

export VBOX_SHARE_FOLDER="$VBOX_HOST_FOLDER:$VBOX_GUEST_FOLDER"

export SWARM_HOSTS_CREATION_PROFILE_NAME="onlyManager"  # [onlyManager | default]